body {
  background: silver;
  color: darkslategrey;
  font-size: 16px;
  min-width: 250px;
}

h1 {
  color: blue;
}

button {
  background: blue;
  color: whitesmoke;
}

#out-Goal {
  color: blueviolet;
  border-color: chocolate;
  margin: 2px;
}

#out-Track {
  color: blue;
  border-color: hotpink;
  margin: 2px;
}

#out-Margin {
  color: purple;
  border-color: chartreuse;
  margin: 4px;
}

p {
  margin: 10px 10px 10px 10px;
  min-width: 90%;
  max-width: 550px;
  padding: 15px;
  background-color: lightgray;
  border-radius: 4px;
  border: 4px;
}

div {
  margin: 10px;
  padding: 10px;
}

#output  {
  padding: 20px;
  background-color: cadetblue; 
  
}

/*On collapse of screen size adjust buttons to verticle
or limit min size so thrid button does not shift/*